.icon--cancel{
    border: none;
    background: url('src/cancelmark.svg') no-repeat;
    background-position: center;
}

.icon--save{
    border: none;
    background: url('src/savemark.svg') no-repeat;
    background-position: center;
}

.icon--check1{
    border: 1px solid $table_th_border_color;
    border-color: $controls_border;
    border-radius: 3px;
    background: linear-gradient(to top, $control_gradient__1, $control_gradient__2);
}

.icon--type1{
    border: none;
    background: url('src/users.svg') no-repeat;
    background-position: center;
}

.icon--type2{
    border: none;
    background: url('src/user.svg') no-repeat;
    background-position: center;
}

.icon--edit{
    border: none;
    background: url('src/editmark.svg') no-repeat;
    background-position: center;
}

.icon--big{
    background-size: 120% 120%;
}

.icon--standart{
    background-size: 100% 100%;
}

.icon--small{
    background-size: 60% 60%;
}
