.popup_fieldset__input {
	height: 26px;
	width:142px;
	border: 1px solid $controls_border;
	border-radius: 5px;
	background: $input_background;
	color: $text_color;
	box-shadow: inset 0px 2px 5px darken($input_background, 10%);
	outline: none;
	margin: 0 7px 0 7px;
	padding-left: 3px;
	padding-right: 3px;
}

.popup_fieldset__warning_wrapper {
	height: 15px;
	width: 15px;
	display: inline-block;
	position: relative;
	top: 2px;
	margin: 0 6px 0 0;
}

.popup_fieldset__warning_img {
    height: 100%;
    width: 100%;
    background: url('src/warningmark.svg') no-repeat;
    background-size: 100% 100%;
    background-position: center;
}