.popup_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.popup{
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: $text_color;
    width: 520px;
    height: 470px;
    border-radius: 8px;
    background-color: $popup_background;
}
