.table{
    margin: 12px 0 18px 20px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid $controls_border;
}

.table__col1{
    width: 38px;
}

.table__col2{
    width: 64px;
}

.table__col3{
    width: 182px;
}

.table__col4{
    width: 150px;
}

.table__col5{
    width: 45px;
}

.table__head{
    color: $table_th_color;
    padding: 4px 7px;
    text-align: left;
    border: 1px solid $table_th_border_color;
    border-top: 0 solid $table_th_gradient__2;
    background: linear-gradient(to top, $table_th_gradient__1, $table_th_gradient__2);
}

.table__cell{
    font-weight: normal;
    padding: 6px 7px 7px 7px;
    border: 1px solid $controls_border;
    background: $table_background;
}

.table_head__first_cell{
    text-align: center;
}

.table__first_cell,
.table__second_cell{
    text-align: center;
}

.table_access__ref{
    color: $text_color;
    text-decoration: none;
    border-bottom: 1px dotted $text_color;
}

.table__icon{
    position: relative;
    top: 1px;
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0;
}

.table__fifth_cell{
    padding: 0;
}

.table_button{
    width: 44px;
    height: 33px;
    cursor: pointer;
    border: none;
    outline: none;
    background: $table_background;
    box-shadow: none;
}

.table_button:active{
    box-shadow: inset -1px -1px 1px darken($table_background, 20%);
}
