.popup_button{
    line-height: 30px;
    position: relative;
    width: 80px;
    height: 30px;
    margin: 0 0 0 10px;
    padding: 0;
    color: $text_color;
    border: 1px solid $controls_border ;
    border-radius: 5px;
    outline: none;
    background: linear-gradient(to top, $control_gradient__1, $control_gradient__2);
}

.popup_button:active{
    background: linear-gradient(to bottom, $control_gradient__1, $control_gradient__2);
}

.fieldset_button{
    width: 55px;
}

.button__execute{
    border: 1px solid $controls_exec_border;
    background: linear-gradient(to top, $control_exec_gradient__1, $control_exec_gradient__2);
}

.button__execute:active{
    background: linear-gradient(to bottom, $control_exec_gradient__1, $control_exec_gradient__2);
}

.button__execute:disabled{
    color: lighten($text_color, 20%);
    border: 1px solid lighten($controls_exec_border,10%);
    background: linear-gradient(to top, lighten($control_exec_gradient__1, 10%), lighten($control_exec_gradient__2, 10%));
}

.table_button{
    width: 44px;
    height: 33px;
    border: none;
    outline: none;
    background: $table_background;
    box-shadow: none;
}

.table_button:active{
    box-shadow: inset -1px -1px 1px darken($table_background, 20%);
}

.button_ico{
    position: relative;
    top: 2px;
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0;
    border: none;
}

.button_ico__save{
    background: url('src/savemark.svg') no-repeat;
    background-position: center;
    background-size: 120% 120%;
}

.button_ico__cancel{
    background: url('src/cancelmark.svg') no-repeat;
    background-position: center;
    background-size: 120% 120%;
}

.footer_button__first{
    margin-left: 0;
}
