.popup_close_button
{
    position: relative;
    top: -464px;
    left: 508px;

    width: 23px;
    height: 23px;
    padding: 0;

    border: 1px solid $controls_border ;
    border-radius: 13px;
    outline: none;
    background: $popup_background;
}

.button_ico__close
{
    width: 22px;
    height: 22px;

    border: none;
    background: url('src/cancelmark.svg') no-repeat;
    background-position: center;
    background-size: 60% 60%;
}

.popup_close_button:active
{
    box-shadow: inset -1px -1px 1px darken($popup_background, 20%);
}
