.close_button{
    position: relative;
    top: -463px;
    left: 507px;
    width: 23px;
    height: 23px;
    padding: 0;
    border: 1px solid $controls_border ;
    border-radius: 13px;
    outline: none;
    background: $popup_background;
}

.close_button:active{
    box-shadow: inset -1px -1px 1px darken($popup_background, 20%);
}

.close_button__ico{
    width: 22px;
    height: 22px;
}
