.input_field{
    color: $text_color;
    width: 142px;
    height: 26px;
    margin: 0 7px 0 7px;
    padding: 0 3px;
    border: 1px solid $controls_border;
    border-radius: 5px;
    outline: none;
    background: $input_background;
    box-shadow: inset 0 2px 5px darken($input_background, 10%);
}