/*Custom variables*/
$text_color: #818181;
$popup_background: #F1F2F4;
$controls_border: #A9A9A9;
$controls_exec_border: #8CBAE4;
$control_gradient__1: #DFDFDF;
$control_gradient__2: #FDFDFD;
$control_exec_gradient__1: #8CBAE4;
$control_exec_gradient__2: #AFDBF9;
$input_background:#FAFAFA;
$topline_gradient__1: #7C99B9;
$topline_gradient__2: #BBDFFF;
$table_background: #FAFAFA;
$table_th_gradient__1: #72787E;
$table_th_gradient__2: #9BA2A8;
$table_th_color: #FAFAFA;
$table_th_border_color: #72787E;